// Общие стили для всего сайта
*
  position relative
  box-sizing border-box

body
html
  padding 0
  margin 0
  width 100%
  width 100vw

body
  font-family mainFont
  font-size mainFontSize
  color black
  min-height 100vh

a
a:link
a:visited
a:active
a:hover
    text-decoration none

ul
ol
  list-style-position inside

nav ul
  list-style none
  margin 0
  padding 0

p
  font-family mainFontFamily
  font-size 1rem
  line-height mainLineHeight
  margin mainLineHeight 0


h1
  {fontH1}

h2
  {fontH2}

h3
  {fontH3}

h4
  {fontH4}

h5
  {fontH5}

h6
  {fontH6}